<div class="forecast">
	<div class="forecast-details">
		<% if forecast %>
			<h2>Forecast: <%= forecast.formatted_address %></h2>
			<p>Current Temperature: <%= forecast.temp %> 째C</p>
			<p>Feels Like: <%= forecast.feels_like %> 째C </p>
			<p>Humidity: <%= forecast.humidity %> %</p>
			<p>Min Temperature: <%= forecast.temp_min %> 째C</p>
			<p>Max Temperature: <%= forecast.temp_max %> 째C</p>
		<% end %>
	</div>
</div>
